@import 'reset.css';

:root {
  font-size: 1px;
}

.container {
  margin: 0 auto;
  width: 1280rem;
}

.slider-wrapper {
  display: flex;
  overflow: hidden;
}

.header {
  text-align: center;
  font-size: 48rem;
}